
.Main{
background-color: rgba(243, 243, 243, 0.753);

}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #dddcdc;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .tablinks{
      font-size: 1.9rem;
  }

  .buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    color: white;
  }

 
  .lower_boxes{
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .Coordinates{
      border: 5px solid rgb(39, 39, 39);
      background-color: rgb(255, 255, 255);
      height: 100px;
      width: 300px;
      margin-right: 10px;
      float:left;
  }

  .status_modes{
      border-color: rgba(204, 204, 204, 0);
      display: flex;
      justify-content: center;
      float:left;
  }

  .box{
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 60px;
    padding-top: 40px;
    border-color: black;
    border: 5px solid rgb(39, 39, 39);
  }

  .power_img_power{
   margin-top: -25px;
   margin-left: 10px;

  }
  
  .power_img_status{
    margin-top: -25px;
    margin-left: 10px;
   }

   #rightbox{
    
    float:right;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

    #input1{
      margin-top: +50px;
      margin-left: +25px;
      border-color: rgba(204, 204, 204, 0);
      color: black;
      font-size: 1.9em;
    }

 

    #input3{
      margin-top: +50px;
      margin-left: +15px;
      border-color: rgba(204, 204, 204, 0);
      color: black;
      font-size: 1.7em;
    }

    #input1::placeholder {
      color: black;
      font-size: 0.9em;
    }



    #input3::placeholder {
      color: black;
      font-size: 1em;
    }
   

  .Voltage{
    border: 5px solid rgb(39, 39, 39);
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 150px;
  }

  .speed{
    border: 5px solid rgb(39, 39, 39);
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 150px;
    margin-left: -10px;
  }

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 80px;
    transition: 0.3s;
    
  }
  
  .tab button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(224, 224, 224);
    padding: 12px 140px;
  }
  
  .tab button.active {
    background-color: rgb(255, 255, 255);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .upper_boxes{
    display: flex;
    justify-content: center;
    float:left;
    padding-top: 100px;
    padding-left: 60px;
  }

  .cam{
    background-color: rgb(0, 0, 0);
    width: 550px; 
    height: 550px; 
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
  }



  .cam_img{
    margin-left: 12px;
    margin-top: 12px;
  }

  .axis{
    border: 5px solid rgb(39, 39, 39);
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .upper_boxesTraining{
    display: flex;
    justify-content: center;
    float:left;
    padding-top: 100px;
    padding-left: 60px;
  }

  #inputAXIS{
    margin-top: +49px;
    margin-left: +1px;
    border-color: rgba(204, 204, 204, 0);
    color: black;
    font-size: 1.7em;
  }

  
