.status_modes{
  background-color: lightgrey;
  width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    width: 90%;
    margin-left: 100px;
  }
  
  .tablinks{
      font-size: 2.3rem;
}

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 80px;
    transition: 0.3s;
    
  }
  
  .tab button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(224, 224, 224);
    padding: 12px 140px;
  }
  
  .tab button.active {
    background-color: rgb(255, 255, 255);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
